<div class="container">

 <h1 style="color:#000000;">This is our contact page</h1>

</div>
<br>
<div class="container2">
 <h3 style="color:#FF5733;">TOLL-FREE NUMBER 1 : 1800-1234-5432</h3>
  <h3 style="color:#FF5733;">TOLL-FREE NUMBER 2: 1800-7869-1232</h3>
 <br>
  <h3 style="color:#9264D2;">IF YOU FACE ANY ISSUE RELATED TO ACCOUNT CREATION:</h3>
  <h4 style="color:#9264D2;">SEND A MAIL TO : sam.financesolutions@gmail.com</h4>
 <br>
  <h4 style="color:#1A0101;" font-size="15px">Mr.Anand Tiwari, Senior Manager, SAM Banking & Finance Solutions(Contact no:9237332211)</h4>
 <h4 style="color:#1A0101;"font-size="15px" >Ms.Srilekha Chekuri, Assistant Manager, SAM Banking & Finance Solutions(Contact no:975332091)</h4>

</div>