
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  transition: 0.3s;
  width: 60%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.container {
  padding: 2px 16px;
}
	.alert {
	  padding: 10px;
	  background-color: rgb(179, 179, 255);
	  color: black;
	}
	
	.closebtn {
	  margin-left: 15px;
	  color: white;
	  font-weight: bold;
	  float: right;
	  font-size: 20px;
	  line-height: 20px;
	  cursor: pointer;
	  transition: 0.3s;
	}
	
	.closebtn:hover {
	  color: black;
	}
    .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: rgb(102, 102, 255);
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.button {
  background-color: rgb(77, 77, 255);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button4 {border-radius: 12px;}
    </style>
<center>
    <div class="card">
  <div class="container">
      <div class="centered">
   <body style="background-color:rgb(204, 204, 255);">
          <p> <strong>ENTER THE AMOUNT YOU REQUIRE TO APPLY FOR EDUCATION LOAN:</strong></p>
<input type="number" name="a" id="a" />
<button onclick="myFunction()">Submit</button>
<p id="demo"></p>
<br>
<br>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Upload neccessary files regarding your loan taken</strong>
</div>
<div class="upload-btn-wrapper">
  <button class="btn">Upload a file</button>
  <input type="file" name="myfile" />
</div>
<div class="upload-btn-wrapper">
  <button class="btn">Upload a file</button>
  <input type="file" name="myfile" />
</div>
<div class="upload-btn-wrapper">
  <button class="btn">Upload a file</button>
  <input type="file" name="myfile" />
</div>
<script>
function myFunction() {
  var a = document.getElementById("a").value;
  var adaSpots;
  if ( a>=100000 && a<=4000000 ) {

    adaSpots = "You will be credited soon after verifying documents and  interest amount is "+a*0.135;

  }
  else if(a==0)
  {
    adaSpots ="minimum amount is 100000";
  }
  else {
    adaSpots = "You are exceeding the limit";
  }
  document.getElementById("demo").innerHTML = adaSpots;
}
</script>

    </body>


<form align="center" action="/eloan1">
    <br>
    <button class="button button4">Submit</button>
</form>

          </div>
</div>
</div>
</center>
