<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  transition: 0.3s;
  width: 60%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.container {
  padding: 2px 16px;
}
.button {
  background-color: rgb(255, 77, 77);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button4 {border-radius: 12px;}
</style>
</head>
<body style="background-color:rgb(255, 230, 230);">

<b><h2 align="center">Vehicle Loan</h2></b>
<center>
<div class="card">
  <div class="container">
   <h2><b>How to Apply For Vehicle Loan?</b></h2>
<p style="text-align:left;">There are several ways to apply for a vehicle loan:</p>
<h3 style="text-align:left;">Vehicle Loan Application Process Online</h3>
<p style="text-align:left;">  1.Visit the website of the financial lender.<br>
     2.Under the loan section, choose vehicle loans.<br>
     3.Click on the ‘apply now’ option.<br>
     4.Enter the details in the vehicle loan application form and submit it to the bank.<br>
     5.The bank will assess the eligibility of the applicant and request for the submission of the required KYC documents and income documents.<br>
     6.If the applicant is found eligible, the bank will disburse the loan amount to the bank account of the applicant, as mentioned in the application form.<br>
</p>

<h3 style="text-align:left;">Email and phone banking requests</h3>
<p style="text-align:left;">You can leave a request for personal loan with the bank through an email or at the customer service centre of the bank. The bank will review your eligibility and contact you to take the process further.</p>
  </div>
</div>
</center>
<form align="center" action="/vehicle">
    <br>
    <button class="button button4">Apply Now</button>
</form>
</body>
</html>