<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  transition: 0.3s;
  width: 60%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.container {
  padding: 2px 16px;
}
</style>
</head>
<body style="background-color:rgb(255, 235, 230);">
<center><h1>Thankyou for Applying &#128512;</h1></center>
<center>
<div class="bg"></div>
    <div class="card">
  <div class="container">
      <div class="centered">
   <h2 align="center"><b>How Vehicle Loan Applications are being processed</b></h2>
          <p style="text-align:left";>1. Once the bank receives your loan application, it will check the information provided by you against the data available with them, such as bank balance, salary deposits made into your account, EMIs being deducted from your account, etc.<br>
          2. The bank will cross-check and confirm your identity and address details through your Know Your Customer (KYC) documents. Banks may visit you at home to confirm your place of residence and check with your office on your employment tenure.<br>
          3. The copy of your Income Tax Return or salary payslips will help the bank gauge your repayment capacity. This will help determine how much loan amount the bank is willing to sanction to you.<br>
          4. The bank will also review your age, number of years of employment left, and salary growth prospects, to decide how much loan it can approve for you and what the repayment period should be.</p>
          </div>
</div>
</div>
    </center>
</body>
</html>